$tablet: 768px;
$desktop: 1440px;

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$primary-font-color: #444444;
$subtitle-font-color: #222222;
$secondary-font-color: #111111;

$white: #ffffff;
$black: #000000;

$accent-color: #68b738;
$primary-color: #f2f2f2;
$secondary-color: #ebebeb;
$error-color: #ff8282;

$button-primary-hover-bg: #5eaa2f;
$button-secondary-hover-bg: $secondary-color;

$icon-color: #666666;

$footer-mobile-border: 1px solid #d9d9d9;
$program-button-border: $footer-mobile-border;

$catalog-border: 1px solid $secondary-color;

$input-border: 1px solid #cdcdcd;
$extra-border: $input-border;
$example-border: $input-border;

$nav-border: 1px solid #e6e6e6;
$section-border: $nav-border;
