$tablet: 768px;
$desktop: 1440px;

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$accent-color: #68b738;
$primary-color: #f2f2f2;

$white: #ffffff;
$black: #000000;

$primary-font-color: #444444;
$subtitle-font-color: #222222;
$secondary-font-color: #111111;

$button-primary-hover-bg: #5eaa2f;
$button-secondary-hover-bg: #ebebeb;

$logo-border: 1px solid #d9d9d9;
$catalog-border: 1px solid #ebebeb;
$extra-border: 1px solid #cdcdcd;
$input-border: 1px solid #cdcdcd;

$icon-color: #666666;
