.contacts__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 26px 0;
}

.contacts__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $secondary-font-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
