.example {
  position: relative;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    background-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 462px;
    background-color: $bg-grey-color;
    z-index: -1;
  }
}

.example__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__text-wrapper {
  padding: 0 0 20px;

  @media (min-width: $desktop) {
    max-width: 436px;
  }
}

.example__description {
  padding: 40px 0 0;
}

.example__stats {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.example__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
  margin: 0;
  padding: 20px 0 0;
  list-style: none;

  @media (min-width: $tablet) {
    justify-content: start;
  }
}

.example__item {
  position: relative;
  width: 124px;
  height: 56px;
  border: $primary-border;
  border-radius: 3px;

  @media (min-width: $tablet) {
    width: 162px;
    height: 72px;
  }
}

.example__item-title {
  margin: 0;
  padding: 14px 0 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  position: absolute;
  left: 19px;
  bottom: -16px;
  width: 87px;
  margin: 0;
  padding: 0 15px;
  background-color: #eaeaea;
  text-transform: lowercase;
  text-align: center;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet) {
    bottom: -6px;
    left: 24px;
    width: max-content;
    background-color: $white;
  }
}

.example__total {
  margin: 0;
  padding: 34px 0 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: end;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}

.example__slider {
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }
}
