.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__input {
  width: 100%;
  height: 56px;
  padding: 13px;
  font-family: $secondary-font;
  font-size: 20px;
  color: inherit;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &:hover {
    border: $primary-border;
  }

  &:focus-visible {
    outline: 2px solid $primary-font-color;
  }
}

.form__input--error {
  border: 2px solid $error-color;
}
