.hero {
  @media (min-width: $desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      min-height: 694px;
      width: 50%;
      background-image: linear-gradient(to right, rgba(84, 83, 88, 1) 0%, rgba(66, 64, 69, 1) 100%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      min-height: 694px;
      width: 50%;
      background-image:
        linear-gradient(to left, rgba(99, 166, 59, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../images/hero-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: left;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(to left, rgba(99, 166, 59, 0.85), rgba(104, 183, 56, 0.85)),
          url("../../images/hero-background-desktop@2x.jpg");
      }
    }
  }
}


.hero__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 65px 0 0 90px;
    text-align: start;
  }

  @media (min-width: $desktop) {
    position: relative;
    max-width: 420px;
    min-height: 580px;
    margin: 0 0 0 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 65;
    left: 0;
    z-index: -1;
    display: block;
    height: 302px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(84, 83, 88, 1) 0%, rgba(66, 64, 69, 1) 100%);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 65;
    left: 0;
    z-index: -1;
    display: block;
    height: 302px;
    width: 100%;
    background-image:
      linear-gradient(to left, rgba(99, 166, 59, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/hero-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to left, rgba(99, 166, 59, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../images/hero-background-mobile@1x.jpg");
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.hero__title {
  margin: 27px 0 0;
  color: $white;

  @media (min-width: $tablet) {
    margin: 0;
    color: $black;
  }

  @media (min-width: $desktop) {
    // max-width: 420px;
    margin: 110px 0 0;
  }
}

.hero__slogan {
  margin: 25px 0 0;
  padding: 0;
  color: $white;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 40px 0 51px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop) {
    margin: 40px 0 53px;
  }
}

.hero__image-wrapper {
  margin: 29px 0 0;

  @media (min-width: $tablet) {
    order: 1;
    margin: -84px 0 -4px -90px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 100%;
    width: 552px;
    height: 100%;
    margin: 29px 0 0 -54px;
  }
}

.hero__button {
  display: inline-block;
  width: 100%;
  margin-top: -1px;
  text-align: center;

  @media (min-width: $tablet) {
    z-index: 1;
    width: fit-content;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.15px;
  }

  @media (min-width: $desktop) {
    max-width: 420px;
  }
}
