// .nav {

// }

.nav__list {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__item {
  display: flex;
  flex: 1 0 66px;
  justify-content: center;
  align-items: center;
  border-top: $nav-border;

  @media (min-width: $tablet) {
    flex: unset;
    border-top: none;
  }
}

.nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  @media (min-width: $tablet) {
    // height: 36px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    color: $white;

    &:hover {
      color: rgba($white, 0.6);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

.nav__link--current {
  @media (min-width: $tablet) {
    border-bottom: 2px solid $accent-color;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    border-bottom: 2px solid $white;
  }
}
