// .programs {

// }

.programs__wrapper {
  padding-top: 20px;
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  display: grid;
  grid-template-areas:
    "icon    title"
    "content content"
    "button  button";
  grid-template-columns: 70px 1fr;
  min-height: 266px;
  padding: 20px;
  background-color: $primary-color;

  @media (min-width: $tablet) {
    grid-template-areas:
      "title   icon"
      "content icon"
      "button  icon";
    grid-template-columns: 340px 1fr;
    padding: 77px 0 53px 52px;
  }

  &::before {
    content: "";
    position: relative;
    grid-area: icon;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop) {
    grid-template-areas:
      "icon    title"
      "content content"
      "button  button";
    grid-template-columns: 214px 1fr;
  }
}

.programs__item--slim::before {
  width: 50px;
  height: 53px;
  margin-top: -3px;
  background-image: url("../../icons/stack.svg#sitting-cat");
  background-size: 50px 53px;

  @media (min-width: $tablet) {
    width: 200px;
    height: 211px;
    margin-top: 4px;
    margin-left: 53px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 106px;
    background-size: 100px 106px;
  }
}

.programs__item--pro::before {
  width: 67px;
  height: 50px;
  margin-top: 14px;
  margin-left: -7px;
  background-image: url("../../icons/stack.svg#tiger");
  background-size: 67px 50px;

  @media (min-width: $tablet) {
    width: 268px;
    height: 200px;
    margin-left: 19px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop) {
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
  }
}

.programs__item-title {
  grid-area: title;
  // padding: 10px 5px 29px 20px;

  @media (min-width: $tablet) {
    padding: 0 0 24px;
  }
}

.programs__item-description {
  grid-area: content;
  margin: 0 0 15px;
  padding: 0 13px 23px 0;
  border-bottom: $secondary-border;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0 0 48px;
    border-bottom: none;
  }
}

.programs__item-button {
  grid-area: button;
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: max-content;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    display: block;
    background-color: $black;
    mask-image: url("../../icons/stack.svg#arrow-to-right");
    mask-size: 24px 10px;
    mask-repeat: no-repeat;
    mask-position: -8px center;
    transition: mask-position 0.3s ease;
  }

  &:hover::after {
    mask-position: left center;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
