.slider {
  position: relative;
  max-width: 280px;

  @media (min-width: 768px) {
    max-width: 560px;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider__image--before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.slider__image--after {
  clip-path: inset(0 0 0 50%);
}

.slider__thumb {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: $icon-color;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:active {
    opacity: 0.6;
  }

  &:active,
  &:active::after {
    background-color: $button-primary-hover-bg;
  }

  &:active::before {
    border: 2px solid $button-primary-hover-bg;
  }

  &:hover,
  &:hover::after {
    background-color: $accent-color;
  }

  &:hover::before {
    border: 2px solid $accent-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid #666666;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 24px;
    height: 18px;
    background-color: $icon-color;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../../icons/stack.svg#thumb");
    mask-size: 24px 18px;
  }
}
