.subscribe__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 79px;
    padding-bottom: 81px;
  }

  @media (min-width: $desktop) {
    padding-top: 95px;
    padding-bottom: 104px;
  }
}

.subscribe__title {
  margin: 0;

  @media (min-width: $tablet) {
    padding: 0 0 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.subscribe__text {
  margin: 32px 0 0;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet) {
    max-width: 632px;
    margin: 66px auto 0;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    max-width: 752px;
    margin: 73px auto 0;
  }
}

.subscribe__form {
  margin: 24px 0 0;

  @media (min-width: $tablet) {
    max-width: 632px;
    margin: 24px auto 0;
  }

  @media (min-width: $desktop) {
    max-width: 752px;
  }
}
