.title-primary {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}
