.title-secondary {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
  }
}
